.title {
  font-size: 22px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.data {
  font-size: 18px;
}

.chart {
  flex-basis: 100%;
}

@media (min-width: 64.1rem) {
  .chart {
    flex-basis: 45%;
  }
}
